In [35]:
import pandas as pd
from kafka import KafkaProducer
from datetime import datetime
from time import sleep
from json import dumps
import json
import time

In [ ]:
producer = KafkaProducer(bootstrap_servers=['localhost:9092'],
                         value_serializer=lambda x: dumps(x).encode('utf-8'))

In [37]:
producer.flush()

In [38]:
df = pd.read_csv('./NIFTY 100_minute.csv')
df.head(70)

                   date     open     high      low    close  volume
0   2015-01-09 09:15:00  8300.60  8309.75  8300.60  8308.35       0
1   2015-01-09 09:16:00  8308.35  8308.65  8304.05  8304.20       0
2   2015-01-09 09:17:00  8304.20  8308.20  8304.00  8308.20       0
3   2015-01-09 09:18:00  8308.20  8315.30  8308.20  8315.30       0
4   2015-01-09 09:19:00  8315.30  8316.10  8314.85  8316.10       0
..                  ...      ...      ...      ...      ...     ...
65  2015-01-09 10:20:00  8297.35  8297.65  8296.75  8297.55       0
66  2015-01-09 10:21:00  8297.55  8299.05  8297.55  8299.05       0
67  2015-01-09 10:22:00  8299.05  8300.90  8299.05  8300.90       0
68  2015-01-09 10:23:00  8300.90  8300.90  8299.10  8299.30       0
69  2015-01-09 10:24:00  8299.65  8301.85  8299.30  8301.50       0

[70 rows x 6 columns]

In [39]:

for index, row in df.iterrows():
    s = row.to_dict()
    format_string = "%Y-%m-%d %H:%M:%S"
    datetime_object = datetime.strptime(s['date'], format_string)
    epoch = datetime_object.strftime('%s')
    s = {'index':index, 
          'date': s['date'], 
          'open': s['open'],
          'high': s['high'],
          'low': s['low'],
          'close':s['close'],
      }
    producer.send('trade_events', value=s)
    time.sleep(2)

KeyboardInterrupt: